<script>
    export let value;
    export let placeholder = "";
</script>

<style>
    .input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 24px;
        border: 1px solid black;
        background-color: #ffffff;
        outline: none;
        padding-left: 8px;
        border-radius: 4px;

        font-family: Verdana, sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

    .input:focus {
        border: 1px solid rgb(44, 128, 253);
    }
</style>

<input 
    class={`input ${$$props.class}`}
    placeholder={placeholder}
    bind:value={value} 
    on:focus
    on:blur
/>
