<script>
    let customProps = {
        ...$$props,
    }

    $: {
        delete customProps.class;
        delete customProps.$$scope;
        delete customProps.$$slots;
    }
</script>

<style>
    .button {
        box-sizing: border-box;
        display: block;
        min-width: 32px;
        max-width: 200px; 
        height: 24px;
        border: none;
        background-color: #0077ff;
        box-shadow: 0 0 0 0 #000000;
        border-radius: 4px;
        padding: 0 8px;

        font-family: Verdana, sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        text-align: center;
        cursor: pointer;

        transition: 0.2s;
        transform: translateY(0);
    }

    .button:hover {
        box-shadow: 2px 2px 15px -5px #000000;
    }

    .button:active {
        transform: translateY(3px);
    }
</style>

<button class={`button ${$$props.class}`} {...customProps} on:click>
    <slot></slot>
</button>