<script>
    export let value;
    export let placeholder = "";
</script>

<style>
    .textarea {
        display: block;
        resize: none;
        box-sizing: border-box;
        width: 100%;
        min-height: 200px;
        border: 1px solid black;
        background-color: #ffffff;
        outline: none;
        padding-left: 8px;
        border-radius: 4px;

        font-family: Verdana, sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

    .textarea:focus {
        border: 1px solid rgb(44, 128, 253);
    }

    .textarea::placeholder {
        font-size: 10px;
        line-height: 18px;
    }
</style>

<textarea 
    class="textarea" 
    placeholder={placeholder}
    style={$$props.style || ""}
    bind:value={value} 
    on:focus
    on:blur
/>
