<script>
    import { onMount, onDestroy } from "svelte";
    import { KEYS_CTRL_LEFT, KEYS_CTRL_RIGHT, KEYS_ALT_LEFT, KEYS_ALT_RIGHT, KEYS_A, KEYS_ENTER } from "../../consts";
    import Input from "../Input";
    import Button from "../Button";
    import Settings from "../Settings";
    import Spinner from "./Spinner.svelte";
    import * as configStorage from "../../utils/replicativeConfig";
    import { debounce } from "../../utils/debounce";
    import Effector from "../Effector";

    let visible = false;
    let currentSite = "";
    let siteInputFocused = false;
    let sites = [];
    let settings;
    let innerNode;
    let effector;

    const handleInputFocus = () => {
        siteInputFocused = true;
    };
    const handleInputBlur = () => {
        siteInputFocused = false;
    };

    const addSite = () => {
        if (currentSite.length) {
            sites.push(currentSite);
            currentSite = "";
            sites = sites;
        }
    };
    const handleEnterKeyDown = (e) => {
        if (siteInputFocused && e.code === KEYS_ENTER) {
            addSite();      
        }
    };

    const deleteSite = (e) => {
        const button = e.currentTarget;
        const id = button.dataset["id"];
        sites.splice(Number(id), 1);
        sites = sites;
    };

    const handleClickOutside = (e) => {
        const target = e.target;
        if (innerNode && target !== innerNode && !innerNode.contains(target)) {
            visible = false;
        }
    };

    // TODO: abstract it
    // [BEGIN] Key combinations block
    let ctrlPressed = false;
    let altPressed = false;
    const handleKeyDown = (e) => {
        switch (e.code) {
            case KEYS_CTRL_LEFT:
            case KEYS_CTRL_RIGHT:
                ctrlPressed = true;
                break;
            case KEYS_ALT_LEFT:
            case KEYS_ALT_RIGHT:
                altPressed = true;
                break;
            case KEYS_A:
                if (ctrlPressed && altPressed) {
                    visible = true;
                }
                break;
        }
    };
    const handleKeyUp = (e) => {
        switch (e.code) {
            case KEYS_CTRL_LEFT:
            case KEYS_CTRL_RIGHT:
                ctrlPressed = false;
                break;
            case KEYS_ALT_LEFT:
            case KEYS_ALT_RIGHT:
                altPressed = false;
                break;
        }
    };
    // [END] Key combinations block

    onMount(() => {
        window.addEventListener("keydown", handleKeyDown);
        window.addEventListener("keydown", handleEnterKeyDown);
        window.addEventListener("keyup", handleKeyUp);
        window.addEventListener("mousedown", handleClickOutside);
    });

    onDestroy(() => {
        window.removeEventListener("keydown", handleKeyDown);
        window.removeEventListener("keydown", handleEnterKeyDown);
        window.removeEventListener("keyup", handleKeyUp);
        window.removeEventListener("mousedown", handleClickOutside);
    });

    let isConfigLoading = true;
    let randomizerConfig;
    onMount(async () => {
        const config = await configStorage.loadConfig();
        const eff = await Effector.fromStorage(config);

        effector = eff;
        randomizerConfig = config;
        isConfigLoading = false;
    });

    let randomizedConfigLoaded = false;
    $: {
        if (randomizerConfig && effector && !randomizedConfigLoaded) {
            sites = randomizerConfig.sites;
            settings = {
                ...randomizerConfig,
                sites: undefined,
            };
            randomizedConfigLoaded = true;
            effector.run();
        }
    }

    const saveConfig = debounce(async (settings, sites) => {
        await configStorage.saveConfig({
            ...settings,
            sites
        });
    }, 400);
    $: {
        if (!isConfigLoading) {
            saveConfig(settings, sites);
        }
    }
</script>

<style>
    .main {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .main--visible {
        display: flex;
    }

    .inner {
        box-sizing: border-box;
        width: 360px;
        min-height: 120px;
        background-color: #ffffff;
        border: 1px solid #000000;
        border-radius: 4px;
        box-shadow: 2px 2px 15px -5px #000000;

        margin-top: 200px;
    }

    .form {
        box-sizing: border-box;
        width: 100%;
        height: 64px;
        padding: 0 12px;
        display: flex;
        align-items: center;
        background-color: rgb(0, 128, 32);
        border-bottom: 1px solid #000000;
    }

    .form > :global(.child + .child) {
        /* [BEGIN] Unique element rules */
        margin-left: 16px;
        /* [END] Unique element rules */
    }

    .site {
        box-sizing: border-box;
        width: 100%;
        padding: 0 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #000000;
    }

    .site__name {
        margin: 0;
        padding: 0;
        font-family: Verdana, sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }
</style>

<div class={`main ${visible ? "main--visible" : ""}`}>
    <div class="inner" bind:this={innerNode}>
        {#if isConfigLoading}
            <Spinner />
        {:else}
            <div class="form">
                <Input 
                    placeholder="http://example.com"
                    class="child"
                    bind:value={currentSite} 
                    on:blur={handleInputBlur} 
                    on:focus={handleInputFocus} 
                />
                <Button class="child" on:click={addSite}>Add</Button>
                <Settings 
                    externalConfig={randomizerConfig} 
                    class="child" 
                    bind:internalConfig={settings}
                />
            </div>

            <div>
                {#each sites as s, i}
                    <div class="site">
                        <p class="site-name">{s}</p>
                        <Button
                            class="button"
                            data-id={i}
                            on:click={deleteSite}
                        >
                            Delete
                        </Button>
                    </div>
                {/each}
            </div>
        {/if}
    </div>
</div>