<style>
    .label {
        margin: 0;
        padding: 0;
        font-family: Verdana, sans-serif;
        font-size: 12px;
        line-height: 20px;
        color: #000000;
    }
</style>

<label class="label">
    <slot></slot>
</label>