<script>
    import Cog from "./Cog.svelte";
    import Input from "../Input";
    import Textarea from "../Textarea";
    import Label from "../Label";

    let uniqueness = "";
    let workPeriod = "";

    /**
     * Each entry is:
     * {
     *    "balance": number;
     *    "data"?: any;
     * }
     * 
     * Effects are:
     * "domNodeDeletion",
     * "domNodeSwap",
     * "domNodeStyleChange",
     * "creepyBanner.*"
     * 
     * "creepyBanner.*" effect has data:
     * {
     *   "link": string;
     * }
     */
    let effectsConfig = "";

    export let externalConfig;
    let externalConfigLoaded = false;
    $: {
        if (externalConfig && !externalConfigLoaded) {
            uniqueness = externalConfig.uniqueness;
            workPeriod = externalConfig.workPeriod;
            effectsConfig = JSON.stringify(externalConfig.effects, null, 2);
            externalConfigLoaded = true;
        }
    }

    let drawerVisible = false;
    const toggleDrawer = () => {
        drawerVisible = !drawerVisible;
    };

    export let internalConfig;
    $: {
        try {
            const parsedEffects = JSON.parse(effectsConfig);
            internalConfig = {
                uniqueness: Number(uniqueness),
                workPeriod: Number(workPeriod),
                effects: parsedEffects,
            };
        } catch (__) {

        }
    }
</script>

<style>
    .settings {
        position: relative;
    }

    .settings-btn {
        width: 24px;
        height: 24px;
        cursor: pointer;

        transition: 0.2s;
        transform: translateY(0);
    }

    .settings-btn :global(svg > path) {
        transition: 0.2s;
        fill: #ffffff;
    }

    .settings-btn:hover :global(svg > path) {
        fill: #0077ff;
    }

    .settings-btn:active {
        transform: translateY(3px);
    }

    .settings-btn :global(svg) {
        width: 100%;
        height: 100%;
    }

    .drawer {
        box-sizing: border-box;
        position: absolute;
        top: 32px;
        right: 0;
        z-index: 2;

        min-width: 300px;
        min-height: 200px;
        padding: 12px;
        transform: scaleY(0);
        transform-origin: top center;
        transition: 0.2s;

        background-color: #ffffff;
        border-radius: 4px;
        box-shadow: 2px 2px 15px -5px #000000;
    }

    .drawer--opened {
        transform: scaleY(1);
    }

    .drawer .child + .child {
        margin-top: 12px;
    }
</style>

<div class={`settings ${$$props.class}`}>
    <div class="settings-btn" on:click={toggleDrawer}>
        <Cog />
    </div>

    <div class={`drawer ${drawerVisible ? "drawer--opened" : ""}`}>
        <div class="child">
            <Label>Uniqueness interval</Label>
            <Input 
                bind:value={uniqueness}
            />
        </div>

        <div class="child">
            <Label>Work period</Label>
            <Input 
                bind:value={workPeriod}
            />
        </div>

        <div class="child">
            <Label>Effects config</Label>
            <Textarea 
                style="font-size: 12px; line-height: 20px;"
                bind:value={effectsConfig}
            />
        </div>
    </div>
</div>